<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
       <p>{{message}}</p><br/>
       <table style="width: 460px; border: 1px solid #a8b758;text-align: left;vertical-align:top;font:1.0em Arial, Helvetica, sans-serif;border-collapse:collapse;">
             <thead>
                 <tr>
                     <th style="width: 120px;text-align: left;vertical-align:top;font:1.0em Arial, Helvetica, sans-serif;font-weight: bold;background-color:#a8b758;color:white;">Curtain Design</th>
                     <th style="width: 120px;text-align: left;vertical-align:top;font:1.0em Arial, Helvetica, sans-serif;font-weight: bold;background-color:#a8b758;color:white;">Curtain Colour</th>
                     <th style="width: 120px;text-align: left;vertical-align:top;font:1.0em Arial, Helvetica, sans-serif;font-weight: bold;background-color:#a8b758;color:white;">Stock (m)</th>
                 </tr>
             </thead>
             <tbody>
                 {%set i = 1 %}
                 {% for curtainColour in curtainColours %}

                     <tr style="{{ cycle(['background-color:#DCDCDC;color:black;', 'background-color: #F8F8FF;color:black;'], i) }}">
                         <td style="border: 1px solid #a8b758;text-align: left;vertical-align:top;font:1.0em Arial, Helvetica, sans-serif;">
                            {{curtainColour.curtainDesign.urlName}}
                         </td>
                         <td style="border: 1px solid #a8b758;text-align: left;vertical-align:top;font:1.0em Arial, Helvetica, sans-serif;">
                             {{curtainColour.name}}
                         </td>
                         <td style="border: 1px solid #a8b758;text-align: left;vertical-align:top;font:1.0em Arial, Helvetica, sans-serif;">{{curtainColour.availableStock}}</td>
                     </tr>
                     
                 {%set i = i + 1 %}    
                 {% endfor %}
             </tbody>
         </table>
    </body>
</html>