{% extends 'ElmetAdminBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/adminprice.js"></script>
{% endblock %}
{% block breadcrumb %}    
    <span>
         <a href="/admin/fabric/view">Manage Fabric Prices</a>
     </span>
{% endblock %}
{% block body %}
     <form method="post" action="/admin/fabric/update" style="width: 460px">
         <span id="editAll" class="editAll" onclick="editAll()">Edit All</span>
         <span id="undoEditAll" class="editAll" onclick="undoEditAll()" style="display:none">Undo</span>
         <table style="width: 400px">
             <thead>
                 <tr>
                     <th style="width: 100px">Price Band</th>
                     <th>Price Per Metre</th>
                 </tr>
             </thead>
             <tbody>

                 <tr id="new"style="display:none">
                         <td>
                            <select name="priceband_new">

                                {% for curtainPriceBand in curtainPriceBands %}

                                     <option value="{{curtainPriceBand.id}}">{{curtainPriceBand.id}}</option>

                                {% endfor %}

                             </select>
                         </td>
                         <td>
                             <input type="number" name="price_new" value=""/>
                         </td>
                         <td class="edit" onclick="undoCreate()">undo</td>
                         <td><input class="submit" type="submit" name="save_new" value="Save"/></td> 
                         <td id="error_new" class="error" style="display: none; width: 200px">Price is not numeric</price>
                 </tr>

                 {%set i = 1 %}
                 {% for fabric in fabrics %}

                     <tr id="view_{{fabric.id}}" class="{{ cycle(['odd', 'even'], i) }}">
                         <td>
                            {{fabric.curtainPriceBand.id}}
                         </td>
                         <td>
                             {{fabric.pricePerMetre}}            
                         </td>
                         <td class="edit" onclick="create()">new</td>
                         <td class="edit" onclick="edit({{fabric.id}},'price')">edit</td>
                         <td><a href="/admin/fabric/remove/{{fabric.id}}">remove</a></td>
                     </tr>

                     <tr id="edit_{{fabric.id}}" class="{{ cycle(['odd', 'even'], i) }}" style="display:none">
                         <td>
                            <select name="single:priceband_{{fabric.id}}">

                                {% for curtainPriceBand in curtainPriceBands %}

                                    {% if fabric.curtainPriceBand.id == curtainPriceBand.id %}

                                        <option value="{{curtainPriceBand.id}}" selected="true">{{curtainPriceBand.id}}</option>
                                    {% else %} 
                                        <option value="{{curtainPriceBand.id}}">{{curtainPriceBand.id}}</option>
                                    {% endif %}

                                {% endfor %}

                             </select>
                         </td>
                         <td>
                             <input type="number" name="single:price_{{fabric.id}}" value="{{fabric.pricePerMetre}}"/>
                         </td>
                         <td class="edit" onclick="undo({{fabric.id}})">undo</td>
                         <td><input class="submit" type="submit" name="save_{{fabric.id}}" value="Save"/></td>
                         <td id="error_{{fabric.id}}" class="error" style="display: none; width: 200px">Price is not numeric</price>
                     </tr>

                     <tr id="editAll_{{fabric.id}}" class="{{ cycle(['odd', 'even'], i) }}" style="display:none">
                         <td>
                            <select name="all:priceband_{{fabric.id}}">

                                {% for curtainPriceBand in curtainPriceBands %}

                                    {% if fabric.curtainPriceBand.id == curtainPriceBand.id %}

                                        <option value="{{curtainPriceBand.id}}" selected="true">{{curtainPriceBand.id}}</option>
                                    {% else %} 
                                        <option value="{{curtainPriceBand.id}}">{{curtainPriceBand.id}}</option>
                                    {% endif %}

                                {% endfor %}

                             </select>
                         </td>
                         <td>
                             <input type="number" name="all:price_{{fabric.id}}" value="{{fabric.pricePerMetre}}"/>
                         </td>
                         <td id="error_{{fabric.id}}" class="error" style="display: none; width: 200px">Price is not numeric</price>
                     </tr>

                 {%set i = i + 1 %}    
                 {% endfor %}
             </tbody>
         </table>

         <br/><input id="submitAll" name="submit_all" class="submitAll" type="submit" value="Save All" style="display:none"/>
     </form>        
{% endblock %}            