{% extends 'ElmetAdminBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/admincurtaincolour.js"></script>
{% endblock %}
{% block breadcrumb %}    
    <span>
         <a href="/admin/curtaindesign/index">Manage Curtain Designs</a> ->
         <a href="/admin/curtaindesign/view/{{curtainColour.curtainDesign.id}}">{{curtainColour.curtainDesign.urlName | lower}}</a> -> {{curtainColour.name | lower}}
     </span>
{% endblock %}
{% block body %}
     <form method="post" action="/admin/curtaincolour/update" enctype="multipart/form-data" style="width: 550px" class="inputform">
         <span id="edit" class="editAll" onclick="edit()">Edit</span>
         <span id="undoEdit" class="editAll" onclick="undoEdit()" style="display:none">Undo</span>
         <input type="hidden" name="id" value="{{curtainColour.id}}"/>

         <table style="width: 500px">
             <tr>
                 <td><label for="name">Name:</label>
                 <td>
                     <input type="text" id="name" name="name" readonly="readonly" value="{{curtainColour.name}}"/>
                 </td>
                 <td id="error_name" class="error" style="display: none; width: 100px">Name should not be empty</td>
             </tr>
             <tr>
                 <td><label for="name">Display Image:</label>
                 <td>
                     <input type="file" id="display" name="display" readonly="readonly"/>
                 </td>
             </tr> 
             <tr>
                 <td><label for="name">Thumb Nail Image:</label>
                 <td>
                     <input type="file" id="thumbnail" name="thumbnail" readonly="readonly"/>
                 </td>
             </tr>
             <tr>
                 <td><label for="name">Swatch Image:</label>
                 <td>
                     <input type="file" id="swatch" name="swatch" readonly="readonly"/>
                 </td>
             </tr>
             <tr>
                <td>
                     <label for="buynow">Buy Now:</label>
                 </td>
                 <td>
                     <select name="buynow" id="buynow" disabled="true">

                         {% if (curtainColour.buynow == 1) %}
                             <option value="1" selected="true">Y</option>
                         {% else %}
                             <option value="1">Y</option>
                         {% endif %}

                         {% if (curtainColour.buynow == 0) %}
                             <option value="0" selected="true">N</option>
                         {% else %}
                             <option value="0">N</option>
                         {% endif %}

                     </select> 
                 </td>
             </tr>
             <tr>
                <td>
                     <label for="instock">In Stock:</label>
                 </td>
                 <td>
                     <select name="instock" id="instock" disabled="true">

                         {% if (curtainColour.inStock == 1) %}
                             <option value="1" selected="true">Y</option>
                         {% else %}
                             <option value="1">Y</option>
                         {% endif %}

                         {% if (curtainColour.inStock == 0) %}
                             <option value="0" selected="true">N</option>
                         {% else %}
                             <option value="0">N</option>
                         {% endif %}

                     </select> 
                 </td>
             </tr>
             <tr>
                 <td><label for="stock">Available Stock:</label>
                 <td>
                     <input type="text" id="stock" name="stock" readonly="readonly" value="{{curtainColour.availableStock}}"/>
                 </td>
                 <td id="error_available" class="error" style="display: none; width: 100px">Available stock should be numeric</td>
             </tr>
             <tr>
                <td>
                     <label for="onoffer">On Offer:</label>
                 </td>
                 <td>
                     <select name="onoffer" id="onoffer" disabled="true">

                         {% if (curtainColour.onOffer == 1) %}
                             <option value="1" selected="true">Y</option>
                         {% else %}
                             <option value="1">Y</option>
                         {% endif %}

                         {% if (curtainColour.onOffer == 0) %}
                             <option value="0" selected="true">N</option>
                         {% else %}
                             <option value="0">N</option>
                         {% endif %}

                     </select> 
                 </td>
             </tr>
             <tr>
                 <td><label for="discount">Discount Percentage:</label>
                 <td>
                     <input type="text" id="discount" name="discount" readonly="readonly" value="{{curtainColour.discountPercentage}}"/>
                 </td>
                 <td id="error_discount" class="error" style="display: none; width: 100px">Discount should be numeric and greater than 0</td>
             </tr>
         </table>
         <br/><input id="submit" name="submit" class="submitAll" type="submit" value="Save" style="display:none"/>
    </form>
{% endblock %}