{% extends 'ElmetAdminBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/popup.js"></script>
{% endblock %}
{% block breadcrumb %}    
    <span>
         <a href="/admin/order/search">Search Orders</a> -> Results
     </span>
{% endblock %}
{% block body %} 
     <table>
         <thead>
             <tr>
                 <th style="width: 75px">Order No</th>
                 <th style="width: 100px">Name</th>
                 <th style="width: 150px">Email</th>
                 <th style="width: 200px">Address</th>
                 <th style="width: 50px">Status</th>
             </tr>
         </thead>
         <tbody>    
             {%set i = 1 %}
             {% for order in orders %}
                <tr class="{{ cycle(['odd', 'even'], i) }}">
                    <td>{{order.id}}</td>
                    <td>{{order.billingName}}</td>
                    <td>{{order.email}}</td>
                    <td>
                        {{order.billingAddress}}<br/>
                        {% if order.billingAddress2 != "" %}
                            {{order.billingAddress2}}<br/>
                        {% endif %}
                        {{order.billingTown}}<br/>
                        {{order.billingPostcode}}
                    </td>
                    <td>
                        {{order.orderStatus}}
                    </td>
                    <td>
                        <td class="edit"><a href="/admin/order/details/{{order.id}}" class="popup" title="Order Details">view</a></td>
                    </td>
                </tr>
             {%set i = i + 1 %}    
             {% endfor %}
         </tbody>
     </table>
{% endblock %}